.header {
  display: flex;
  justify-content: space-between;
  padding: 37px 70px 37px 45px;
  font-size: 12px;

  &__logo {
    width: 75px;
    margin-right: 48px;
  }

  .contacts {
    display: flex;
    justify-content: space-between;

    .location, .phone, {
      display: flex;
      align-items: center;

      img {
        height: 16px;
        margin-right: 5px;
      }
    }

    .location {
      margin-right: 32px;
    }
  }

  .menu {
    display: flex;

    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 380px;
      margin-right: 97px;

      @media (max-width: 1440px) {
        margin-right: 68px;
      }

      @media (max-width: 1240px) {
        margin-right: 48px;
      }

      a {
        color: #20231F;
        text-decoration: none;

        &:visited, &:active {
          color: #20231F;
        }
      }
    }

    .order {
      display: flex;
      align-items: center;
      position: relative;

      img {
        width: 26px;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8px;
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: #374318;
        border-radius: 50%;
        color: #F5F5F5;
        bottom: 0;
        right: -3px;
      }
    }
  }

}
